<link rel="stylesheet" type="text/css" href="/css/comment.css" />
<li id="comment-<%= comment._id %>">
  <% if((locals.user) && (locals.user.id == comment.user.id)) { %>
  <small>
    <a href="/posts/destroy/<%=comment.id%>"> D </a>
  </small>
  <% } %>
  <div class="name" style="display: inline-block">
    <small> <%= comment.user.name %> </small>
  </div>
  <div style="display: inline-block" class="content">
    <%= comment.content %>
  </div>
  <br />
</li>
