<li>
  <% if((locals.user) && (locals.user.id == comment.user.id)) { %>
  <small>
    <a href="/posts/destroy/<%=comment.id%>"> Delete Post </a>
  </small>
  <p>
    <%= comment.content %>
    <br />
    <small> <%= comment.user.name %> </small>
  </p>
</li>
