<link rel="stylesheet" type="text/css" href="/css/signin.css" />
<meta tag="viewport" content="width:device-width , initial-scale:1" />
<div style="background-image: linear-gradient(#C9D6FF,#E2E2E2); height: 200%;">

<div class="outer-container" >
  <h1>Sign Up</h1>
  <div class="inner-container">
    <form action="/users/create" method="POST">
      <input type="text" name="name" placeholder="Your Name" required />
      <input type="email" name="email" placeholder="Your email" required />
      <input type="password" name="password" placeholder="Password" required />
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm password"
        required
      />
      <input type="submit" value="Sign up" />
    </form>
    <h2>----------OR ----------</h2>
    <p>
      <a href="/users/auth/google"
        ><button class="OAuth">Sign Up Using Google</button></a
      >
    </p>
  </div>
</div>
</div>