section {
  display: inline-block;
}
#feed-posts {
  width: 60%;
  //display: flex;
  //justify-content: center;
  form {
    width: 80%;
    position: relative;
    position: center;
    height: fit-content;
    padding: 6%;
    input {
      width: 100%;
    }
    textarea {
      position: relative;
      position: center;
    }
  }
}
#user-friends {
  border-left: lightblue;
  width: 30%;
  text-align: center;
  a {
    text-decoration: none;
    color: black;
  }
}
#create-post {
  margin-bottom: 2px;
}
