section {
  display: inline-block;
}
.posts {
  padding-bottom: 3%;
}
#feed-posts {
  width: 60%;
  //display: flex;
  //justify-content: center;
  form {
    width: 80%;
    position: relative;
    position: center;
    height: fit-content;
    padding-left: 10%;
    margin-block-end: 2px;
    input {
      width: 100%;
    }
    textarea {
      position: relative;
      position: center;
    }
  }
}
#user-friends {
  border-left: lightblue;
  width: 30%;
  text-align: center;
  position: absolute;
  top: 20%;
  position: fixed;
  a {
    text-decoration: none;
    color: black;
  }
}
#create-post {
  margin: 10%;
  textarea,
  input {
    position: relative;
    position: center;
    margin: 3px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #user-friends {
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
  #feed-posts {
    width: 100%;
    height: fit-content;
  }
}
