.posts {
  width: 90%;
  min-width: 400px;
  background-color: white;
  margin: 4%;
  box-shadow: 2px wheat;
  border-right-style: ridge;
  border-radius: 5px;
  padding-top: 10px;
}
.post-comment-list {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
li {
  list-style: none;
  letter-spacing: 0.03rem;
}
.main-content {
  margin-left: 6%;
  height: fit-content;
}
.content {
  //   margin-top: 4px;
  margin: 2px;
  width: 80%;
  font-size: 20px;
  padding: 5px;
  background-color: lavender;
  font-family: Arial, Helvetica, sans-serif;
}
.post-comment-list {
  font-size: 15px;
  height: fit-content;
  width: fit-content;
  padding-left: 3%;
  font-family: Georgia, "Times New Roman", Times, serif;
  ul {
    margin: 5%;
  }
}
.name {
  font-size: 15px;
  font-weight: 600;
}
.post-comments {
  input {
    width: 50%;
    min-width: 40px;
    margin: 2px;
    border: none;
    border-bottom: 2px indianred;
    //border-radius: 2px;
    &:focus {
      outline: none;
      border: none;
    }
  }
  form {
    display: flex;
    justify-items: center;
  }
}
