header {
  z-index: 3;
  position: relative;
  position: fixed;
  margin: 0px;
  box-sizing: border-box;
  margin-bottom: 10%;
  height: 80px;
  width: 100%;
  background-color: white;
  border: bottom 1px grey; }

#Logo {
  margin-left: 3%;
  display: inline-block; }
  #Logo img {
    height: 80px;
    width: 80px;
    zoom: 1;
    position: absolute;
    top: -5px; }
