#outer {
  background-image: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  position: relative;
  top: 60px; }

.posts {
  padding-bottom: 3%; }

#feed-posts {
  display: inline-block;
  width: 60%; }
  #feed-posts form {
    width: 80%;
    position: relative;
    position: center;
    height: fit-content;
    padding-left: 10%;
    margin-block-end: 2px; }
    #feed-posts form input {
      width: 100%; }
    #feed-posts form textarea {
      position: relative;
      position: center; }

#user-friends {
  background-color: white;
  display: inline-block;
  border-left: lightblue;
  border-radius: 2px;
  padding: 0% 2% 0% 2%;
  top: 30%;
  width: fit-content;
  right: 10%;
  text-align: center;
  position: absolute;
  position: fixed; }
  #user-friends a {
    text-decoration: none;
    color: black; }
  #user-friends .friend {
    padding: 2%;
    width: 100%;
    display: inline-block;
    margin: 4%; }
    #user-friends .friend:hover {
      background-color: burlywood; }
  #user-friends .friend:nth-child(2n) {
    background-color: cadetblue; }

#create-post {
  margin: 10%; }
  #create-post textarea,
  #create-post input {
    position: relative;
    position: center;
    margin: 3px;
    width: 100%; }

@media screen and (max-width: 690px) {
  #user-friends {
    height: 0px;
    width: 0px;
    overflow: hidden; }
  #feed-posts {
    width: 100%;
    height: fit-content; } }
