* {
  box-sizing: border-box; }

.outer-container {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes fadeInAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(45deg, #ff9190, #5e72eb); }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

.outer-container {
  padding: 1%;
  border-radius: 4px;
  min-width: 300px;
  align-items: column;
  position: relative;
  background-color: white;
  left: 33%;
  top: 20%;
  width: 40%; }
  .outer-container h1 {
    text-align: center; }

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px; }

.inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: column;
  width: 100%; }
  .inner-container .forms {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 2% 4% 2% 4%;
    margin: 2% 5% 2% 5%; }
    .inner-container .forms input,
    .inner-container .forms button {
      width: 100%;
      height: 40px;
      position: center;
      margin: 1% 0% 1% 0%; }
      .inner-container .forms input:focus,
      .inner-container .forms button:focus {
        outline: none;
        border: none; }

p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px; }

a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px; }

.OAuth {
  width: 100%;
  height: 40px;
  position: center;
  margin: 1% 4% 1% 4%;
  background-color: #dd4b39;
  border-color: #dd4b39;
  border-radius: 5px; }
  .OAuth:focus {
    outline: none;
    border: none; }

.submit {
  background-color: #55a1d8;
  border: none;
  border-radius: 3px;
  transition: 0.5s; }

.submit,
.OAuth {
  cursor: pointer; }
  .submit:hover,
  .OAuth:hover {
    font-size: 120%; }

@media screen and (max-width: 600px) {
  .outer-container {
    left: 0%;
    right: 0%;
    width: 100%; } }
